@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  border-radius: 0px;
}

* {
  font-family: "Roboto Mono", sans-serif;
  font-optical-sizing: auto;
}
